body {
    background-color: #eeeeee;
}
article a {
    padding: 2% 5%;
    text-align: center;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
}
section article {
    width: 1000px;
    margin: auto;
    text-align: center;
}

article p {
    line-height: 2em;
    padding-bottom: 8%;
}
article p:first-of-type{
    font-size: 1.4em;
}
section{
    width: 100%;
    padding-bottom: 7%;

}
/*---------------HEADER--------------------------------------*/

header, section, footer {
    font-family: 'Lato', sans-serif;
    color: #2B3F48;
}

header, section, footer {
    font-family: 'Lato', sans-serif;
}

body header {
    height: 4%;
    background-color: #eeeeee;
    padding: 2% 0%;
}


h1 {
    width: 38%;
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
}

header {
    height: 4%;
    width: 1000px;
    margin: auto;
}

header nav {
    text-align: right;
    display: inline-block;
}

header nav ul li {
    display: inline-block;
    padding: 1em;
    text-transform: uppercase;
}

header nav ul li {
    display: inline-block;
    padding: 1em;
}

a {
    text-decoration: none;
    color: #2B3F48;
    font-size: 0.9em;
}

header nav ul li a:hover {
    color: #27AE61;
}

header nav ul li a:active{
    color: #27AE61;
}


/*-----------------section1----------------------------*/

section.section1 {
    color: white;
    background-image: url(images/banner.png);
    background-size: cover;
    background-color: #27AE61;
    height: 35%;
}

.section1 h2 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 2%;
}

.section1 article a {
    background-color: #2b3f48;
    color: white;
}

.section1 .imgs {
    text-align: center;
}

.section1 .imgs img {
    border-radius: 50%;
    width: 14%;
    padding: 5% 2%;
}

/*-----------------section2----------------------------*/

section.section2 {
    height: 26%;
}

.section2 p {
    width: 1000px;
    margin: auto;
    text-align: center;
}

.section2 h2 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 2%;
    margin-top: 7%;
}
.section2 article a{
    margin: auto;
    background-color: #27AE61;
    color: white;
}

/*-----------------section3----------------------------*/

.section3 {
    height: 25%;
    background-color: #27AE61;
}

.section3 p {
    width: 1000px;
    margin: auto;
    text-align: center;
    color: white;
}

.section3 h2 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 2%;
    padding-top: 7%;
    color: white;
}

.section3 article a{
    margin: auto;
    background-color: white;
    color: #27AE61;
}

/*-----------footer----------------------------*/

footer {
    height: 10%;
    text-transform: uppercase;
}


footer ul {
    width: 1000px;
    text-align: center;
    margin: auto;
}

footer ul li {
    display: inline-block;
    padding: 10% 1%;
    font-size: 0.7em;
    word-spacing: 0.5em

}
footer ul li span {
    margin-left: 2em;
}
